<h1 mat-dialog-title>What's the orientation of this camera?</h1>

<div mat-dialog-content>
  <button class="orientation-button" mat-raised-button color="primary" [mat-dialog-close]="2">North</button>
  <button class="orientation-button" mat-raised-button color="primary" [mat-dialog-close]="3">South</button>
  <button class="orientation-button" mat-raised-button color="primary" [mat-dialog-close]="4">East</button>
  <button class="orientation-button" mat-raised-button color="primary" [mat-dialog-close]="5">West</button>
  <button mat-raised-button style="width: 100%;" color="accent" [mat-dialog-close]="6">No orentation</button>
</div>
