button
  margin: 5px
.mat-raised-button
    width: 120px
.spacer
  height: 20px
.editor-content
  width: 75%

.wall
  background-color: dimgrey
  width: 50px
  height: 50px
  &:hover
    background: grey

.empty-space
  background-color: skyblue
  width: 50px
  height: 50px
  &:hover
    background: deepskyblue

.placed-cam
  background-color: rgb(221, 201, 93)
  width: 50px
  height: 50px

.cam-btn
  position: absolute
  top: 200px
  left: 200px
